body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.catFact {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.catFact>* {
    margin: 10px;
}

.predictAge {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.predictAge>* {
    margin: 10px;
}

.generateExcuse {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.generateExcuse>* {
    margin: 10px;
}